language: java

before_install:
  # install jolie
  - wget -O jolie.jar https://www.jolie-lang.org/files/releases/jolie-1.8.2.jar
  - (printf "\n\n"; sleep 10) | sudo java -jar jolie.jar
  - echo 'export JOLIE_HOME="/usr/lib/jolie"' >> ~/.bash_profile
  - export JOLIE_HOME="/usr/lib/jolie"

install:
  skip

script:
  - jolie src/main.ol &
  - jolie test/test.ol
