language: minimal

services:
  - docker

before_install:
  - docker build -t jolie/citest .
  - docker run -d -p 8000:8000 jolie/citest
  - docker build -t jolie/citester test/

script:
  - docker run -d jolie/citester
