language: minimal

services:
  - docker

before_install:
  - docker build -t jolie/citest .
  - docker run -d --name citest-cnt -p 8000:8000 jolie/citest

script:
  - docker exec -it citest-cnt jolie test/tester.ol
